In [2]:
import pandas as pd

In [6]:
us_election = pd.read_csv(r"C:\Users\MANPREET\Desktop\election 2020.csv")

In [7]:
us_election

,state,state_abr,trump_pct,biden_pct,trump_vote,biden_vote,trump_win,biden_win
0,Alaska,AK,53.1,43.0,189543,153502,1,0
1,Hawaii,HI,34.3,63.7,196864,366130,0,1
2,Washington,WA,39.0,58.4,1584651,2369612,0,1
3,Oregon,OR,40.7,56.9,958448,1340383,0,1
4,California,CA,34.3,63.5,5982194,11082293,0,1
5,Idaho,ID,63.9,33.1,554128,287031,1,0
6,Montana,MT,56.9,40.6,343647,244836,1,0
7,Nevada,NV,47.7,50.1,669890,703486,0,1
8,Wyoming,WY,70.4,26.7,193559,73491,1,0
9,Utah,UT,58.2,37.7,865140,560282,1,0
10,Arizona,AZ,49.1,49.4,1661686,1672143,0,1
11,Colorado,CO,41.9,55.4,1364471,1804196,0,1
12,New Mexico,NM,43.5,54.3,401894,501614,0,1
13,North Dakota,ND,65.5,31.9,235595,114902,1,0
14,South Dakota,SD,61.8,35.6,261043,150471,1,0
15,Nebraska,NE,58.5,39.4,556846,374583,1,0
16,Kansas,KS,56.5,41.3,752933,551144,1,0
17,Oklahoma,OK,65.4,32.3,1020280,503890,1,0
18,Texas,TX,52.1,46.5,5890347,5259126,1,0
19,Minnesota,MN,45.4,52.6,1484056,1717077,0,1
20,Iowa,IA,53.2,45.0,897672,759061,1,0
21,Missouri,MO,56.8,41.4,1718282,1252902,1,0
22,Arkansas,AR,62.4,34.8,760647,423932,1,0
23,Louisiana,LA,58.5,39.9,1255776,856034,1,0
24,Wisconsin,WI,48.9,49.6,1610065,1630673,0,1
25,Illinois,IL,40.5,57.6,2438943,3463260,0,1
26,Mississippi,MS,57.6,41.1,756789,539508,1,0
27,Michigan,MI,47.8,50.6,2649842,2804040,0,1
28,Indiana,IN,57.1,41.0,1729516,1242413,1,0
29,Kentucky,KY,62.1,36.2,1326646,772474,1,0
30,Tennessee,TN,60.7,37.4,1849556,1139332,1,0
31,Alabama,AL,62.2,36.7,1441170,849624,1,0
32,Ohio,OH,53.3,45.3,3154834,2679165,1,0
33,West Virginia,WV,68.6,29.7,545382,235984,1,0
34,Georgia,GA,49.3,49.5,2461837,2474507,0,1
35,Florida,FL,51.2,47.9,5668731,5297045,1,0
36,Maine,ME,44.0,53.1,360480,434966,0,1
37,New Hampshire,NH,45.5,52.9,365660,424935,0,1
38,Vermont,VT,30.8,66.4,112704,242820,0,1
39,Massachusetts,MA,32.3,65.9,1167202,2382202,0,1
40,Rhode Island,RI,38.8,59.7,199922,307486,0,1
41,Connecticut,CT,39.2,59.3,715291,1080680,0,1
42,New York,NY,41.5,57.1,3005636,4137641,0,1
43,Pennsylvania,PA,48.8,50.0,3378263,3459923,0,1
44,Virginia,VA,44.2,54.4,1962430,2413568,0,1
45,New Jersey,NJ,41.4,57.3,1883260,2608327,0,1
46,Delaware,DE,39.8,58.8,200603,296268,0,1
47,Maryland,MD,32.4,65.8,976414,1985023,0,1
48,North Carolina,NC,50.1,48.7,2758775,2684292,1,0
49,South Carolina,SC,55.1,43.4,1385103,1091541,1,0
50,District of Columbia,DC,5.4,93.0,18586,317323,0,1

In [8]:
us_election.shape

(51, 8)

In [9]:
us_election.head(2)

,state,state_abr,trump_pct,biden_pct,trump_vote,biden_vote,trump_win,biden_win
0,Alaska,AK,53.1,43.0,189543,153502,1,0
1,Hawaii,HI,34.3,63.7,196864,366130,0,1